@import "~antd/lib/style/themes/default.less";
.project-detail {
    display: flex;
    height: 100%;
    .sidebar {
        width: 220px;
        background-color: #fff;
        height: 100%;
        border-right: 1px solid #e5e5e5;
        margin: 0;
        li {
            a {
                height: 50px;
                line-height: 50px;
                display: block;
                padding-left: 20px;
                color: #333;
                &.active,
                &:hover {
                    color: @primary-color;
                }
                &.active {
                    background-color: @primary-1;
                    border-right: 3px solid #1890ff;
                }
            }
        }
    }
    .project-content {
        padding: 10px;
        flex: 1;
    }
}
