.detail {
    display: flex;
    .side-menu {
        width: 1.6rem;
    }
    .content {
        flex: 1;
    }
    padding: 0 .1rem;
    .sub-title {
        border-bottom: 1px solid #eee;
        padding-bottom: .1rem;
        margin: .1rem 0;
        font-weight: 700;
        color: rgba(0, 0, 0, .65);
    }
}
